/*#Wrapper {
    max-width: 1280px;
    margin: 0px auto;
    overflow: hidden;
}*/

/*#Top_bar .section.full-width {
    padding-left: 80px;
    padding-right: 80px;
}*/

#Header_wrapper,
body:not(.template-slider) #Header_wrapper
{
    background-color: #FFF;
    background-image: url(../images/nbri_new_logo.png);
    background-repeat: no-repeat;
    background-attachment: static;
    background-position: center bottom;
}

body.template-slider #Header_wrapper #Subheader
{
    display: none;
}

.form-group {
    margin-bottom: 10px;
}

label.control-label.required::after {
    content: ' *';
    color: #F00;
}

textarea.form-control,
select.form-control,
input.form-control
{
    width: 100%;
}

.modal-content {
    display: none;
}

.modal-header-name {
    font-weight: 800; font-size: 32px; text-align: left; margin-bottom: 10px
}

.modal-header-position {
    font-weight: 700; font-size: 15px; text-align: left; margin-bottom: 30px
}

p.modal-content-description {
    text-align: left;
}

p.modal-content-description img.modal-team-photo {
    float: left;
}

a.modal-content-link {
    font-weight: 700; text-decoration: underline;
}

.swal2-popup p {
    font-family: Arial, Tahoma, sans-serif;
    font-size: 15px;
}

.image_wrapper .mask,
.image_wrapper .team-photo-thumb {
    max-height: 195px;
}
