#Header_wrapper {
	background-color: #000;
}
#Subheader {
	background-color: rgba(0, 0, 0, 0);
}
.header-classic #Action_bar, .header-plain #Action_bar, .header-stack #Action_bar {
	background-color: #2C2C2C;
}
#Sliding-top {
	background-color: #0c0f19;
}
#Sliding-top a.sliding-top-control {
	border-right-color: #0c0f19;
}
#Sliding-top.st-center a.sliding-top-control, #Sliding-top.st-left a.sliding-top-control {
	border-top-color: #0c0f19;
}
#Footer {
	background-color: #0c0f19;
}
body, ul.timeline_items, .icon_box a .desc, .icon_box a:hover .desc, .feature_list ul li a, .list_item a, .list_item a:hover, .widget_recent_entries ul li a, .flat_box a, .flat_box a:hover, .story_box .desc, .content_slider.carouselul li a .title, .content_slider.flat.description ul li .desc, .content_slider.flat.description ul li a .desc {
	color: #8d8d8d;
}
.themecolor, .opening_hours .opening_hours_wrapper li span, .fancy_heading_icon .icon_top, .fancy_heading_arrows .icon-right-dir, .fancy_heading_arrows .icon-left-dir, .fancy_heading_line .title, .button-love a.mfn-love, .format-link .post-title .icon-link, .pager-single>span, .pager-single a:hover, .widget_meta ul, .widget_pages ul, .widget_rss ul, .widget_mfn_recent_comments ul li:after, .widget_archive ul, .widget_recent_comments ul li:after, .widget_nav_menu ul, .woocommerce ul.products li.product .price, .shop_slider .shop_slider_ul li .item_wrapper .price, .woocommerce-page ul.products li.product .price, .widget_price_filter .price_label .from, .widget_price_filter .price_label .to, .woocommerce ul.product_list_widget li .quantity .amount, .woocommerce .product div.entry-summary .price, .woocommerce .star-rating span, #Error_404 .error_pic i, .style-simple #Filters .filters_wrapper ul li a:hover, .style-simple #Filters .filters_wrapper ul li.current-cat a, .style-simple .quick_fact .title {
	color: #000;
}
.themebg, .pager .pages a:hover, .pager .pages a.active, .pager .pages span.page-numbers.current, .pager-single span:after, #comments .commentlist>li .reply a.comment-reply-link, .fixed-nav .arrow, #Filters .filters_wrapper ul li a:hover, #Filters .filters_wrapper ul li.current-cat a, .widget_categories ul, .Recent_posts ul li .desc:after, .Recent_posts ul li .photo .c, .widget_recent_entries ul li:after, .widget_mfn_menu ul li a:hover, .widget_mfn_menu ul li.current_page_item>a, .widget_product_categories ul, div.jp-interface, #Top_bar a#header_cart span, .testimonials_slider .slider_images, .testimonials_slider .slider_images a:after, .testimonials_slider .slider_images:before, .slider_pagination a.selected, .slider_pagination a.selected:after, .tp-bullets.simplebullets.round .bullet.selected, .tp-bullets.simplebullets.round .bullet.selected:after, .tparrows.default, .tp-bullets.tp-thumbs .bullet.selected:after, .offer_thumb .slider_pagination a:before, .offer_thumb .slider_pagination a.selected:after, .style-simple .accordion .question:after, .style-simple .faq .question:after, .style-simple .icon_box .desc_wrapper h4:before, .style-simple #Filters .filters_wrapper ul li a:after, .style-simple .article_box .desc_wrapper p:after, .style-simple .sliding_box .desc_wrapper:after, .style-simple .trailer_box:hover .desc {
	background-color: #000;
}
.Latest_news ul li .photo, .style-simple .opening_hours .opening_hours_wrapper li label, .style-simple .timeline_items li:hover h3, .style-simple .timeline_items li:nth-child(even):hover h3, .style-simple .timeline_items li:hover .desc, .style-simple .timeline_items li:nth-child(even):hover {
	border-color: #000;
}
a {
	color: #252525;
}
a:hover {
	color: #000;
}
*::-moz-selection {
	background-color: #252525;
}
*::selection {
	background-color: #252525;
}
.blockquote p.author span, .counter .desc_wrapper .title, .article_box .desc_wrapper p, .team .desc_wrapper p.subtitle, .pricing-box .plan-header p.subtitle, .pricing-box .plan-header .price sup.period, .chart_box p, .fancy_heading .inside, .fancy_heading_line .slogan, .post-meta, .post-meta a, .post-footer, .post-footer a span.label, .pager .pages a, .button-love a .label, .pager-single a, #comments .commentlist>li .comment-author .says, .fixed-nav .desc .date, .filters_buttons li.label, .Recent_posts ul li a .desc .date, .widget_recent_entries ul li .post-date, .tp_recent_tweets .twitter_time, .widget_price_filter .price_label, .shop-filters .woocommerce-result-count, .woocommerce ul.product_list_widget li .quantity, .widget_shopping_cart ul.product_list_widget li dl, .product_meta .posted_in, .woocommerce .shop_table .product-name .variation>dd, .shipping-calculator-button:after, .shop_slider .shop_slider_ul li .item_wrapper .price del, .testimonials_slider .testimonials_slider_ul li .author span, .testimonials_slider .testimonials_slider_ul li .author span a, .Latest_news ul li .desc_footer {
	color: #a8a8a8;
}
h1, h1 a, h1 a:hover, .text-logo #logo {
	color: #000;
}
h2, h2 a, h2 a:hover {
	color: #000;
}
h3, h3 a, h3 a:hover {
	color: #000;
}
h4, h4 a, h4 a:hover, .style-simple .sliding_box .desc_wrapper h4 {
	color: #000;
}
h5, h5 a, h5 a:hover {
	color: #000;
}
h6, h6 a, h6 a:hover, a.content_link .title {
	color: #000;
}
.dropcap, .highlight:not(.highlight_image) {
	background-color: #000;
}
a.button, a.tp-button {
	background-color: #f7f7f7;
	color: #747474;
}
.button-stroke a.button, .button-stroke a.button .button_icon i, .button-stroke a.tp-button {
	border-color: #f7f7f7;
	color: #747474;
}
.button-stroke a:hover.button, .button-stroke a:hover.tp-button {
	background-color: #f7f7f7 !important;
	color: #fff;
}
a.button_theme, a.tp-button.button_theme, button, input[type="submit"], input[type="reset"], input[type="button"] {
	background-color: #000;
	color: #fff;
}
.button-stroke a.button.button_theme:not(.action_button), .button-stroke a.button.button_theme:not(.action_button), .button-stroke a.button.button_theme .button_icon i, .button-stroke a.tp-button.button_theme, .button-stroke button, .button-stroke input[type="submit"], .button-stroke input[type="reset"], .button-stroke input[type="button"] {
	border-color: #000;
	color: #000 !important;
}
.button-stroke a.button.button_theme:hover, .button-stroke a.tp-button.button_theme:hover, .button-stroke button:hover, .button-stroke input[type="submit"]:hover, .button-stroke input[type="reset"]:hover, .button-stroke input[type="button"]:hover {
	background-color: #000 !important;
	color: #fff !important;
}
a.mfn-link {
	color: #656B6F;
}
a.mfn-link-2 span, a:hover.mfn-link-2 span:before, a.hover.mfn-link-2 span:before, a.mfn-link-5 span, a.mfn-link-8:after, a.mfn-link-8:before {
	background: #252525;
}
a:hover.mfn-link {
	color: #252525;
}
a.mfn-link-2 span:before, a:hover.mfn-link-4:before, a:hover.mfn-link-4:after, a.hover.mfn-link-4:before, a.hover.mfn-link-4:after, a.mfn-link-5:before, a.mfn-link-7:after, a.mfn-link-7:before {
	background: #000;
}
a.mfn-link-6:before {
	border-bottom-color: #000;
}
.woocommerce a.button, .woocommerce .quantity input.plus, .woocommerce .quantity input.minus {
	background-color: #f7f7f7 !important;
	color: #747474 !important;
}
.woocommerce a.button_theme, .woocommerce a.checkout-button, .woocommerce button.button, .woocommerce .button.add_to_cart_button, .woocommerce .button.product_type_external, .woocommerce input[type="submit"], .woocommerce input[type="reset"], .woocommerce input[type="button"] {
	background-color: #000 !important;
	color: #fff !important;
}
.column_column ul, .column_column ol, .the_content_wrapper ul, .the_content_wrapper ol {
	color: #737E86;
}
.hr_color, .hr_color hr, .hr_dots span {
	color: #000;
	background: #000;
}
.hr_zigzag i {
	color: #000;
}
.highlight-left:after, .highlight-right:after {
	background: #fff;
}
@media only screen and (max-width: 767px) {
	.highlight-left.column:first-child, .highlight-right .column:last-child {
		background: #fff;
	}
}
#Header .top_bar_left, .header-classic #Top_bar, .header-plain #Top_bar, .header-stack #Top_bar, .header-split #Top_bar, .header-fixed #Top_bar, .header-below #Top_bar, #Header_creative, #Top_bar #menu {
	background-color: #fff;
}
#Top_bar .top_bar_right:before {
	background-color: #e3e3e3;
}
#Header .top_bar_right {
	background-color: #f5f5f5;
}
#Top_bar .top_bar_right a {
	color: #444444;
}
#Top_bar .menu>li>a {
	color: #737373;
}
#Top_bar .menu>li.current-menu-item>a, #Top_bar .menu>li.current_page_item>a, #Top_bar .menu>li.current-menu-ancestor>a, #Top_bar .menu>li.current-page-ancestor>a, #Top_bar .menu>li.current_page_ancestor>a, #Top_bar .menu>li.hover>a {
	color: #000;
}
#Top_bar .menu>li a:after {
	background: #000;
}
.menu-highlight #Top_bar #menu>ul>li.current-menu-item>a, .menu-highlight #Top_bar #menu>ul>li.current_page_item>a, .menu-highlight #Top_bar #menu>ul>li.current-menu-ancestor>a, .menu-highlight #Top_bar #menu>ul>li.current-page-ancestor>a, .menu-highlight #Top_bar #menu>ul>li.current_page_ancestor>a, .menu-highlight #Top_bar #menu>ul>li.hover>a {
	background: #F2F2F2;
}
.menu-arrow-bottom #Top_bar .menu>li>a:after {
	border-bottom-color: #000;
}
.menu-arrow-top #Top_bar .menu>li>a:after {
	border-top-color: #000;
}
.header-plain #Top_bar .menu>li.current-menu-item>a, .header-plain #Top_bar .menu>li.current_page_item>a, .header-plain #Top_bar .menu>li.current-menu-ancestor>a, .header-plain #Top_bar .menu>li.current-page-ancestor>a, .header-plain #Top_bar .menu>li.current_page_ancestor>a, .header-plain #Top_bar .menu>li.hover>a, .header-plain #Top_bar a:hover#header_cart, .header-plain #Top_bar a:hover#search_button, .header-plain #Top_bar .wpml-languages:hover, .header-plain #Top_bar .wpml-languages ul.wpml-lang-dropdown {
	background: #F2F2F2;
	color: #000;
}
.header-plain #Top_bar, .header-plain #Top_bar .menu>li>a span:not(.description), .header-plain #Top_bar a#header_cart, .header-plain #Top_bar a#search_button, .header-plain #Top_bar .wpml-languages, .header-plain #Top_bar a.button.action_button {
	border-color: #F2F2F2;
}
#Top_bar .menu>li ul {
	background-color: #F2F2F2;
}
#Top_bar .menu>li ul li a {
	color: #5f5f5f;
}
#Top_bar .menu>li ul li a:hover, #Top_bar .menu>li ul li.hover>a {
	color: #2e2e2e;
}
#Top_bar .search_wrapper {
	background: #000;
}
#Subheader .title {
	color: #fff;
}
#Subheader ul.breadcrumbs li, #Subheader ul.breadcrumbs li a {
	color: rgba(255, 255, 255, 0.6);
}
#Overlay {
	background: rgba(0, 0, 0, 0.95);
}
#overlay-menu ul li a, .header-overlay .overlay-menu-toggle.focus {
	color: #fff;
}
#Footer, #Footer .widget_recent_entries ul li a {
	color: #636467;
}
#Footer a {
	color: #cccdcd;
}
#Footer a:hover {
	color: #b4b4b6;
}
#Footer h1, #Footer h1 a, #Footer h1 a:hover, #Footer h2, #Footer h2 a, #Footer h2 a:hover, #Footer h3, #Footer h3 a, #Footer h3 a:hover, #Footer h4, #Footer h4 a, #Footer h4 a:hover, #Footer h5, #Footer h5 a, #Footer h5 a:hover, #Footer h6, #Footer h6 a, #Footer h6 a:hover {
	color: #cccdcd;
}
#Footer .themecolor, #Footer .widget_meta ul, #Footer .widget_pages ul, #Footer .widget_rss ul, #Footer .widget_mfn_recent_comments ul li:after, #Footer .widget_archive ul, #Footer .widget_recent_comments ul li:after, #Footer .widget_nav_menu ul, #Footer .widget_price_filter .price_label .from, #Footer .widget_price_filter .price_label .to, #Footer .star-rating span {
	color: #fff;
}
#Footer .themebg, #Footer .widget_categories ul, #Footer .Recent_posts ul li .desc:after, #Footer .Recent_posts ul li .photo .c, #Footer .widget_recent_entries ul li:after, #Footer .widget_mfn_menu ul li a:hover, #Footer .widget_product_categories ul {
	background-color: #fff;
}
#Footer .Recent_posts ul li a .desc .date, #Footer .widget_recent_entries ul li .post-date, #Footer .tp_recent_tweets .twitter_time, #Footer .widget_price_filter .price_label, #Footer .shop-filters .woocommerce-result-count, #Footer ul.product_list_widget li .quantity, #Footer .widget_shopping_cart ul.product_list_widget li dl {
	color: #a8a8a8;
}
#Sliding-top, #Sliding-top .widget_recent_entries ul li a {
	color: #636467;
}
#Sliding-top a {
	color: #cccdcd;
}
#Sliding-top a:hover {
	color: #b4b4b6;
}
#Sliding-top h1, #Sliding-top h1 a, #Sliding-top h1 a:hover, #Sliding-top h2, #Sliding-top h2 a, #Sliding-top h2 a:hover, #Sliding-top h3, #Sliding-top h3 a, #Sliding-top h3 a:hover, #Sliding-top h4, #Sliding-top h4 a, #Sliding-top h4 a:hover, #Sliding-top h5, #Sliding-top h5 a, #Sliding-top h5 a:hover, #Sliding-top h6, #Sliding-top h6 a, #Sliding-top h6 a:hover {
	color: #cccdcd;
}
#Sliding-top .themecolor, #Sliding-top .widget_meta ul, #Sliding-top .widget_pages ul, #Sliding-top .widget_rss ul, #Sliding-top .widget_mfn_recent_comments ul li:after, #Sliding-top .widget_archive ul, #Sliding-top .widget_recent_comments ul li:after, #Sliding-top .widget_nav_menu ul, #Sliding-top .widget_price_filter .price_label .from, #Sliding-top .widget_price_filter .price_label .to, #Sliding-top .star-rating span {
	color: #fff;
}
#Sliding-top .themebg, #Sliding-top .widget_categories ul, #Sliding-top .Recent_posts ul li .desc:after, #Sliding-top .Recent_posts ul li .photo .c, #Sliding-top .widget_recent_entries ul li:after, #Sliding-top .widget_mfn_menu ul li a:hover, #Sliding-top .widget_product_categories ul {
	background-color: #fff;
}
#Sliding-top .Recent_posts ul li a .desc .date, #Sliding-top .widget_recent_entries ul li .post-date, #Sliding-top .tp_recent_tweets .twitter_time, #Sliding-top .widget_price_filter .price_label, #Sliding-top .shop-filters .woocommerce-result-count, #Sliding-top ul.product_list_widget li .quantity, #Sliding-top .widget_shopping_cart ul.product_list_widget li dl {
	color: #a8a8a8;
}
blockquote, blockquote a, blockquote a:hover {
	color: #444444;
}
.image_frame .image_wrapper .image_links, .portfolio_group.masonry-hover .portfolio-item .masonry-hover-wrapper .hover-desc {
	background: rgba(0, 0, 0, 0.8);
}
.masonry.tiles .post-item .post-desc-wrapper .post-desc .post-title:after, .masonry.tiles .post-item.no-img, .masonry.tiles .post-item.format-quote {
	background: #000;
}
.image_frame .image_wrapper .image_links a {
	color: #fff;
}
.image_frame .image_wrapper .image_links a:hover {
	background: #fff;
	color: #000;
}
.sliding_box .desc_wrapper {
	background: #000;
}
.sliding_box .desc_wrapper:after {
	border-bottom-color: #000;
}
.counter .icon_wrapper i {
	color: #000;
}
.quick_fact .number-wrapper {
	color: #000;
}
.progress_bars .bars_list li .bar .progress {
	background-color: #000;
}
a:hover.icon_bar {
	color: #000 !important;
}
a.content_link, a:hover.content_link {
	color: #000;
}
a.content_link:before {
	border-bottom-color: #000;
}
a.content_link:after {
	border-color: #000;
}
.get_in_touch, .infobox {
	background-color: #000;
}
.column_map .google-map-contact-wrapper .get_in_touch:after {
	border-top-color: #000;
}
.timeline_items li h3:before, .timeline_items:after, .timeline .post-item:before {
	border-color: #000;
}
.how_it_works .image .number {
	background: #000;
}
.trailer_box .desc .subtitle {
	background-color: #000;
}
.icon_box .icon_wrapper, .icon_box a .icon_wrapper, .style-simple .icon_box:hover .icon_wrapper {
	color: #000;
}
.icon_box:hover .icon_wrapper:before, .icon_box a:hover .icon_wrapper:before {
	background-color: #000;
}
ul.clients.clients_tiles li .client_wrapper:hover:before {
	background: #000;
}
ul.clients.clients_tiles li .client_wrapper:after {
	border-bottom-color: #000;
}
.list_item.lists_1 .list_left {
	background-color: #000;
}
.list_item .list_left {
	color: #000;
}
.feature_list ul li .icon i {
	color: #000;
}
.feature_list ul li:hover, .feature_list ul li:hover a {
	background: #000;
}
.ui-tabs .ui-tabs-nav li.ui-state-active a, .accordion .question.active .title>.acc-icon-plus, .accordion .question.active .title>.acc-icon-minus, .faq .question.active .title>.acc-icon-plus, .faq .question.active .title, .accordion .question.active .title {
	color: #000;
}
.ui-tabs .ui-tabs-nav li.ui-state-active a:after {
	background: #000;
}
table tr:hover td {
	background: #000;
}
.pricing-box .plan-header .price sup.currency, .pricing-box .plan-header .price>span {
	color: #000;
}
.pricing-box .plan-inside ul li .yes {
	background: #000;
}
.pricing-box-box.pricing-box-featured {
	background: #000;
}
.woocommerce span.onsale, .shop_slider .shop_slider_ul li .item_wrapper span.onsale {
	border-top-color: #000 !important;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
	border-color: #000 !important;
}
@media only screen and (max-width: 767px) {
	#Top_bar, #Action_bar {
		background: #fff !important;
	}
}
html {
	background-color: #fff;
}
#Wrapper, #Content {
	background-color: #fff;
}
body:not(.template-slider) #Header_wrapper {
	background-image: url("../images/home_space_subheader2.jpg");
}
body, button, span.date_label, .timeline_items li h3 span, input[type="submit"], input[type="reset"], input[type="button"], input[type="text"], input[type="password"], input[type="tel"], input[type="email"], textarea, select, .offer_li .title h3 {
	font-family: "Lato", Arial, Tahoma, sans-serif;
	font-weight: 400;
}
#menu>ul>li>a, .action_button, #overlay-menu ul li a {
	font-family: "Lato", Arial, Tahoma, sans-serif;
	font-weight: 400;
}
#Subheader .title {
	font-family: "Lato", Arial, Tahoma, sans-serif;
	font-weight: 400;
}
h1, .text-logo #logo {
	font-family: "Lato", Arial, Tahoma, sans-serif;
	font-weight: 300;
}
h2 {
	font-family: "Lato", Arial, Tahoma, sans-serif;
	font-weight: 300;
}
h3 {
	font-family: "Lato", Arial, Tahoma, sans-serif;
	font-weight: 300;
}
h4 {
	font-family: "Lato", Arial, Tahoma, sans-serif;
	font-weight: 300;
}
h5 {
	font-family: "Lato", Arial, Tahoma, sans-serif;
	font-weight: 700;
}
h6 {
	font-family: "Lato", Arial, Tahoma, sans-serif;
	font-weight: 400;
}
blockquote {
	font-family: "Lato", Arial, Tahoma, sans-serif;
}
body {
	font-size: 13px;
	line-height: 21px;
}
#menu>ul>li>a, .action_button {
	font-size: 15px;
}
h1, #Subheader .title, .text-logo #logo {
	font-size: 60px;
	line-height: 60px;
}
h2 {
	font-size: 70px;
	line-height: 70px;
}
h3 {
	font-size: 38px;
	line-height: 40px;
}
h4 {
	font-size: 24px;
	line-height: 28px;
}
h5 {
	font-size: 18px;
	line-height: 23px;
}
h6 {
	font-size: 15px;
	line-height: 22px;
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
	body {
		font-size: 13px;
		line-height: 20px;
	}
	#menu>ul>li>a {
		font-size: 14px;
	}
	h1, #Subheader .title, .text-logo #logo {
		font-size: 54px;
		line-height: 54px;
	}
	h2 {
		font-size: 63px;
		line-height: 63px;
	}
	h3 {
		font-size: 34px;
		line-height: 36px;
	}
	h4 {
		font-size: 22px;
		line-height: 26px;
	}
	h5 {
		font-size: 16px;
		line-height: 20px;
	}
	h6 {
		font-size: 14px;
		line-height: 20px;
	}
	blockquote {
		font-size: 15px;
	}
	.the_content_wrapper ul, .the_content_wrapper ol {
		font-size: 14px;
		line-height: 19px;
	}
	.faq .question .title {
		font-size: 14px;
	}
	.pricing-box .plan-header h2 {
		font-size: 27px;
		line-height: 27px;
	}
	.pricing-box .plan-header .price>span {
		font-size: 40px;
		line-height: 40px;
	}
	.pricing-box .plan-header .price sup.currency {
		font-size: 18px;
		line-height: 18px;
	}
	.pricing-box .plan-header .price sup.period {
		font-size: 14px;
		line-height: 14px;
	}
	.offer .offer_li .desc_wrapper .title h3 {
		font-size: 32px;
		line-height: 32px;
	}
	.offer_thumb_ul li.offer_thumb_li .desc_wrapper .title h3 {
		font-size: 32px;
		line-height: 32px;
	}
	.counter .desc_wrapper .number-wrapper {
		font-size: 45px;
		line-height: 45px;
	}
	.counter .desc_wrapper .title {
		font-size: 14px;
		line-height: 18px;
	}
	.chart_box .chart .num {
		font-size: 45px;
		line-height: 45px;
	}
	.trailer_box .desc h2 {
		font-size: 27px;
		line-height: 27px;
	}
	.quick_fact .number {
		font-size: 80px;
		line-height: 80px;
	}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
	body {
		font-size: 13px;
		line-height: 20px;
	}
	#menu>ul>li>a {
		font-size: 13px;
	}
	h1, #Subheader .title, .text-logo #logo {
		font-size: 48px;
		line-height: 48px;
	}
	h2 {
		font-size: 56px;
		line-height: 56px;
	}
	h3 {
		font-size: 30px;
		line-height: 32px;
	}
	h4 {
		font-size: 19px;
		line-height: 23px;
	}
	h5 {
		font-size: 14px;
		line-height: 18px;
	}
	h6 {
		font-size: 13px;
		line-height: 18px;
	}
	blockquote {
		font-size: 14px;
	}
	.the_content_wrapper ul, .the_content_wrapper ol {
		font-size: 13px;
		line-height: 16px;
	}
	.faq .question .title {
		font-size: 13px;
	}
	.pricing-box .plan-header h2 {
		font-size: 24px;
		line-height: 24px;
	}
	.pricing-box .plan-header .price>span {
		font-size: 34px;
		line-height: 34px;
	}
	.pricing-box .plan-header .price sup.currency {
		font-size: 16px;
		line-height: 16px;
	}
	.pricing-box .plan-header .price sup.period {
		font-size: 13px;
		line-height: 13px;
	}
	.offer .offer_li .desc_wrapper .title h3 {
		font-size: 28px;
		line-height: 28px;
	}
	.offer_thumb_ul li.offer_thumb_li .desc_wrapper .title h3 {
		font-size: 28px;
		line-height: 28px;
	}
	.counter .desc_wrapper .number-wrapper {
		font-size: 40px;
		line-height: 40px;
	}
	.counter .desc_wrapper .title {
		font-size: 13px;
		line-height: 16px;
	}
	.chart_box .chart .num {
		font-size: 40px;
		line-height: 40px;
	}
	.trailer_box .desc h2 {
		font-size: 24px;
		line-height: 24px;
	}
	.quick_fact .number {
		font-size: 70px;
		line-height: 70px;
	}
}
@media only screen and (max-width: 479px) {
	body {
		font-size: 13px;
		line-height: 20px;
	}
	#menu>ul>li>a {
		font-size: 13px;
	}
	h1, #Subheader .title, .text-logo #logo {
		font-size: 42px;
		line-height: 42px;
	}
	h2 {
		font-size: 49px;
		line-height: 49px;
	}
	h3 {
		font-size: 27px;
		line-height: 29px;
	}
	h4 {
		font-size: 17px;
		line-height: 20px;
	}
	h5 {
		font-size: 13px;
		line-height: 16px;
	}
	h6 {
		font-size: 13px;
		line-height: 17px;
	}
	blockquote {
		font-size: 13px;
	}
	.the_content_wrapper ul, .the_content_wrapper ol {
		font-size: 13px;
		line-height: 16px;
	}
	.faq .question .title {
		font-size: 13px;
	}
	.pricing-box .plan-header h2 {
		font-size: 21px;
		line-height: 21px;
	}
	.pricing-box .plan-header .price>span {
		font-size: 32px;
		line-height: 32px;
	}
	.pricing-box .plan-header .price sup.currency {
		font-size: 14px;
		line-height: 14px;
	}
	.pricing-box .plan-header .price sup.period {
		font-size: 13px;
		line-height: 13px;
	}
	.offer .offer_li .desc_wrapper .title h3 {
		font-size: 26px;
		line-height: 26px;
	}
	.offer_thumb_ul li.offer_thumb_li .desc_wrapper .title h3 {
		font-size: 26px;
		line-height: 26px;
	}
	.counter .desc_wrapper .number-wrapper {
		font-size: 35px;
		line-height: 35px;
	}
	.counter .desc_wrapper .title {
		font-size: 13px;
		line-height: 26px;
	}
	.chart_box .chart .num {
		font-size: 35px;
		line-height: 35px;
	}
	.trailer_box .desc h2 {
		font-size: 21px;
		line-height: 21px;
	}
	.quick_fact .number {
		font-size: 60px;
		line-height: 60px;
	}
}
.with_aside .sidebar.columns {
	width: 23%;
}
.with_aside .sections_group {
	width: 75%;
}
.aside_both .sidebar.columns {
	width: 18%;
}
.aside_both .sidebar-1 {
	margin-left: -79%;
}
.aside_both .sections_group {
	width: 60%;
	margin-left: 20%;
}
@media only screen and (min-width: 1240px) {
	#Wrapper {
		max-width: 1020px;
	}
	.layout-boxed.header-boxed #Top_bar.is-sticky {
		max-width: 1020px;
	}
}
h1 {
	font-weight: 400;
}
h2 {
	font-weight: 900;
	letter-spacing: 1px;
}
h3 {
	font-weight: 900;
}
h4 {
	font-weight: 400;
	;
}
h5 {
	font-weight: 400;
}
h6 {
	font-weight: 400;
}
.section-border-bottom {
	border-bottom: 1px solid #b2b2b2;
}
.space-border {
	position: relative;
}
.space-border:after {
	content: "";
	display: block;
	position: absolute;
	left: -2%;
	top: 0;
	width: 5px;
	height: 100%;
	background: url(../images/home_space_hr_v.png) no-repeat top center;
}
.header-transparent #Top_bar:not(.is-sticky) {
	top: 30px !important;
}
#Top_bar a.responsive-menu-toggle {
	background: #F4F4F4;
}
#Top_bar .menu>li>a span:not(.description) {
	font-weight: 700;
	letter-spacing: 1px;
}
#Top_bar:not(.is-sticky) .menu_wrapper {
	background: #fff;
}
@media only screen and (max-width: 767px) {
	#Top_bar .logo #logo {
		margin: 5px 50px 15px;
	}
}

/* Revolution slider */

.hebe .tp-tab-title {
	color: #fff !important;
}
.hebe .tp-tab-desc {
	color: #fff;
	font-family: Lato;
}

/* Subheader */

#Subheader {
	padding: 240px 0 160px;
	background-position: center top;
}
@media only screen and (max-width: 767px) {
	#Subheader {
		padding: 160px 0;
	}
}
#Subheader .title {
	letter-spacing: 2px;
	font-weight: 700;
	word-wrap: break-word;
	position: relative;
}
#Subheader:after {
	content: "";
	display: block;
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 5px;
	height: 88px;
	background: url(../images/home_space_hr_subheader.png) no-repeat top center;
}

/* List */

.list_item .list_right h4 {
	font-size: 18px;
	font-weight: 700;
}

/* Blog */

.post-item .post-desc .post-title .entry-title {
	font-size: 38px;
	line-height: 40px;
}

/* Image frame*/

.image_frame, .wp-caption {
	border: 0;
}
.image_frame .image_wrapper .mask {
	box-shadow: 0 0 0 0 rgba(0, 0, 0, .0);
}
.image_frame .image_wrapper:after {
	content: "";
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 40px 40px 0;
	border-color: transparent #fff transparent transparent;
}

/* Button */

.button-stroke a.button:not(.action_button), .button-stroke:not(.header-plain) a.button.action_button, .button-stroke a.tp-button, .button-stroke button, .button-stroke input[type="submit"], .button-stroke input[type="reset"], .button-stroke input[type="button"] {
	border-radius: 15px;
	border-width: 1px;
	letter-spacing: 2px;
}

/* Footer */

#Footer .footer_action {
	background: none;
}
#Footer .footer_copy {
	border: 0;
}
#Footer .widgets_wrapper {
	padding: 0;
}
#Footer .widgets_wrapper .container {
	border-bottom: 1px solid rgba(255, 255, 255, .3);
	border-top: 1px solid rgba(255, 255, 255, .3);
	padding: 30px 0;
}
#Footer .footer_copy .one {
	margin-bottom: 30px;
	padding-top: 40px;
}
.tp-caption.Newspaper-Button, .Newspaper-Button {
	color: rgba(255, 255, 255, 1.00);
	font-size: 13px;
	line-height: 17px;
	font-weight: 700;
	font-style: normal;
	font-family: Lato;
	padding: 12px 35px 12px 35px;
	text-decoration: none;
	text-align: left;
	background-color: rgba(255, 255, 255, 0);
	border-color: rgba(255, 255, 255, 1.00);
	border-style: solid;
	border-width: 1px;
	border-radius: 15px 15px 15px 15px;
	letter-spacing: 2px;
	text-align: left
}
.tp-caption.Newspaper-Button:hover, .Newspaper-Button:hover {
	color: rgba(0, 0, 0, 1.00);
	text-decoration: none;
	background-color: rgba(255, 255, 255, 1.00);
	border-color: rgba(255, 255, 255, 1.00);
	border-style: solid;
	border-width: 1px;
	border-radius: 15px 15px 15px 15px
}
.tp-caption.Newspaper-Subtitle, .Newspaper-Subtitle {
	color: rgba(168, 216, 238, 1.00);
	font-size: 15px;
	line-height: 20px;
	font-weight: 900;
	font-style: normal;
	font-family: Lato;
	padding: 0px 0px 0px 0px;
	text-decoration: none;
	text-align: left;
	background-color: transparent;
	border-color: transparent;
	border-style: none;
	border-width: 0px;
	border-radius: 0px 0px 0px 0px;
	text-align: left
}
.tp-caption.Newspaper-Title, .Newspaper-Title {
	color: rgba(255, 255, 255, 1.00);
	font-size: 50px;
	line-height: 55px;
	font-weight: 400;
	font-style: normal;
	font-family: Lato;
	padding: 0px 0px 10px 0px;
	text-decoration: none;
	text-align: left;
	background-color: transparent;
	border-color: transparent;
	border-style: none;
	border-width: 0px;
	border-radius: 0px 0px 0px 0px;
	text-align: left
}

/* Photo */

.photo .post-item {
	float: none;
}
.photo .post-photo-wrapper {
	width: 100%;
	float: none;
}
.photo .post-desc-wrapper {
	width: 100%;
	float: none;
	text-align: center;
}
.photo .post-desc .post-head {}
.photo .post-desc .post-head .post-meta {
	display: inline-block;
}
.photo .post-desc .post-head .post-footer {
	display: inline-block;
	background: none;
	padding: 0;
	line-height: inherit;
}
.photo .post-desc .post-title {}
.photo .post-desc .post-excerpt {
	margin-bottom: 0;
}
.photo .post-desc .post-head .post-meta .author-date, .photo .post-desc .post-head .post-meta .category, .photo .post-desc .post-head .post-footer .button-love, .photo .post-desc .post-head .post-footer .post-links {
	/* float: none; */
	/* display: inline-block; */
}
.photo .post-desc .post-head .post-meta .author-date {
	margin-right: 20px;
}
.photo .post-desc .post-head .post-meta .author-date .label {
	display: none;
}
.photo .post-desc .post-head .post-footer .button-love {
	margin-right: 20px;
}
.photo .post-desc .post-head .post-footer .button-love .love-text {
	display: none;
}
.photo .post-desc .post-head .post-footer .post-links {
	/* border: 0; */
	/* padding: 0; */
}
.photo .post-desc .post-head .post-footer .post-links .icon-doc-text, .photo .post-desc .post-head .post-footer .post-links .post-more {
	display: none;
}
.photo .format-image {
	text-align: center;
}
.photo .format-image .post-photo-wrapper {
	display: inline-block;
	width: auto;
}
.photo .format-link .post-title {
	display: inline-block;
	text-align: left;
}

/*
 |--------------------------------------------------------------------------
 |   Demo Styles
 |
 |--------------------------------------------------------------------------
 |
 |
 |
 */

body.contact #Content, body.content_no_padding #Content {
	padding-top: 0 !important;
}




/* ------------------------------------------- *
 * font awesome
 * ------------------------------------------- */

.the-icons.span3 {
	float: left;
	width: 25%;
	line-height: 25px;
	padding-bottom: 10px;
	position: relative;
}
.the-icons.span3 [class^="icon-"] {
	color: #3E3E3E;
	font-size: 20px;
	position: absolute;
	top: 0;
	left: 0;
	cursor: default;
}
.the-icons.span3 [class^="icon-"]:hover {
	font-size: 50px;
	background: #fff;
	padding: 10px;
	display: block;
	text-align: center;
	width: 70px;
	height: 50px;
	border: 1px solid #eee;
	top: -25px;
	left: -32px;
	z-index: 2;
}
.the-icons.span3 .i-name {
	padding-left: 40px;
}
@media only screen and min-width: 768px and max-width: 959px {
	.the-icons.span3 {
		width: 33.333%;
	}
}
@media only screen and min-width: 480px and max-width: 767px {
	.the-icons.span3 {
		width: 50%;
	}
}
@media only screen and max-width: 479px {
	.the-icons.span3 {
		width: 100%;
	}
}

/* ------------------------------------------- *
 * demo
 * ------------------------------------------- */


/* sections */

.parallax-video .content_video iframe {
	border: 35px solid #efefef;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.section-border-top {
	border-top: 1px solid rgba0, 0, 0, .08;
}
.notable_works .items_group {
	background: #eaeae8;
}
.notable_works .items_group .fancy_heading h2 {
	margin-bottom: 0;
	padding-top: 40px;
}

/* custom inline add */

.hrmargin_0, p.hrmargin_0, hr.hrmargin_0, div.hrmargin_0, h2.hrmargin_0, h3.hrmargin_0, h4.hrmargin_0, h5.hrmargin_0, h6.hrmargin_0 {
	margin: 0;
}
.hrmargin_b_60, p.hrmargin_b_60, hr.hrmargin_b_60, div.hrmargin_b_60, h2.hrmargin_b_60, h3.hrmargin_b_60, h4.hrmargin_b_60, h5.hrmargin_b_60, h6.hrmargin_b_60 {
	margin: 0 auto 60px;
}
.hrmargin_b_30, p.hrmargin_b_30, hr.hrmargin_b_30, div.hrmargin_b_30, h2.hrmargin_b_30, h3.hrmargin_b_30, h4.hrmargin_b_30, h5.hrmargin_b_30, h6.hrmargin_b_30 {
	margin-bottom: 30px;
}
.hrmargin_b_1, p.hrmargin_b_1, hr.hrmargin_b_1, div.hrmargin_b_1, h2.hrmargin_b_1, h3.hrmargin_b_1, h4.hrmargin_b_1, h5.hrmargin_b_1, h6.hrmargin_b_1 {
	margin: 0 auto 1px;
}
.hrmargin_b_10, p.hrmargin_b_10, hr.hrmargin_b_10, div.hrmargin_b_10, h2.hrmargin_b_10, h3.hrmargin_b_10, h4.hrmargin_b_10, h5.hrmargin_b_10, h6.hrmargin_b_10 {
	margin: 0 auto 10px;
}
.hrmargin_b_7, p.hrmargin_b_7, hr.hrmargin_b_7, div.hrmargin_b_7, h2.hrmargin_b_7, h3.hrmargin_b_7, h4.hrmargin_b_7, h5.hrmargin_b_7, h6.hrmargin_b_7 {
	margin-bottom: 7px;
}
.hrmargin_b_40, p.hrmargin_b_40, hr.hrmargin_b_40, div.hrmargin_b_40, h2.hrmargin_b_40, h3.hrmargin_b_40, h4.hrmargin_b_40, h5.hrmargin_b_40, h6.hrmargin_b_40 {
	margin: 0 auto 40px;
}
.hrmargin_b_40, p.hrmargin_b_20, hr.hrmargin_b_20, div.hrmargin_b_20, h2.hrmargin_b_20, h3.hrmargin_b_20, h4.hrmargin_b_20, h5.hrmargin_b_20, h6.hrmargin_b_20 {
	margin: 0 auto 20px;
}
.hrmargin_b_25, p.hrmargin_b_25, hr.hrmargin_b_25, div.hrmargin_b_25, h2.hrmargin_b_25, h3.hrmargin_b_25, h4.hrmargin_b_25, h5.hrmargin_b_25, h6.hrmargin_b_25 {
	margin: 0 auto 25px;
}
.hrmargin_b_5, p.hrmargin_b_5, hr.hrmargin_b_5, div.hrmargin_b_5, h2.hrmargin_b_5, h3.hrmargin_b_5, h4.hrmargin_b_5, h5.hrmargin_b_5, h6.hrmargin_b_5 {
	margin-bottom: 5px;
}
.hrmargin_b_4, p.hrmargin_b_4, hr.hrmargin_b_4, div.hrmargin_b_4, h2.hrmargin_b_4, h3.hrmargin_b_4, h4.hrmargin_b_4, h5.hrmargin_b_4, h6.hrmargin_b_4 {
	margin-bottom: 4px;
}
.hrmargin_l_26, p.hrmargin_l_26, hr.hrmargin_l_26, div.hrmargin_l_26, h2.hrmargin_l_26, h3.hrmargin_l_26, h4.hrmargin_l_26, h5.hrmargin_l_26, h6.hrmargin_l_26 {
	margin-left: 26px;
}
.hrmargin_b_30, p.hrmargin_b_30, hr.hrmargin_b_30, div.hrmargin_b_30, h2.hrmargin_b_30, h3.hrmargin_b_30, h4.hrmargin_b_30, h5.hrmargin_b_30, h6.hrmargin_b_30 {
	margin: 0 auto 30px;
}
.hrmargin_b_15, p.hrmargin_b_15, hr.hrmargin_b_15, div.hrmargin_b_15, h2.hrmargin_b_15, h3.hrmargin_b_15, h4.hrmargin_b_15, h5.hrmargin_b_15, h6.hrmargin_b_15 {
	margin: 0 auto 15px;
}
.flv_disp_none, div.flv_disp_none, p.flv_disp_none {
	display: none;
}
.flv_viz_hid, div.flv_viz_hid, p.flv_viz_hid {
	visibility: hidden !important;
}
.flv_clear_both, div.flv_clear_both, p.flv_clear_both {
	clear: both
}
.sections_style_0, div.sections_style_0 {
	padding-top: 0px;
	padding-bottom: 0px;
	background-color:
}
.sections_style_1, div.sections_style_1 {
	margin: 0px auto;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.sections_style_2, div.sections_style_2 {
	padding-top: 60px;
	padding-bottom: 0px;
	background-color:
}
.sections_style_3, div.sections_style_3 {
	padding-top: 60px;
	padding-bottom: 20px;
	background-color:
}
.sections_style_4, div.sections_style_4 {
	padding-top: 40px;
	padding-bottom: 0px;
	background-color:
}
.sections_style_5, div.sections_style_5 {
	padding-top: 70px;
	padding-bottom: 0px;
	background-color:
}
.flv_span_12, span.flv_span_12, div.flv_span_12 {
	padding-top: 12px;
	display: block
}
.flv_list, ul.flv_list {
	float: left;
	width: 46%;
	margin-left: 4%;
	list-style: square;
	line-height: 30px;
}
.flv_list_1, li.flv_list_1 {
	display: inline-block;
	margin: 0 10px;
}
.flv_list_ul_46, ul.flv_list_ul_46 {
	float: left;
	width: 46%;
	margin-left: 4%;
	list-style: square;
	line-height: 27px;
}
.flv_list_ul_10, ul.flv_list_ul_10 {
	display: block;
	margin: 0 0 10px 0;
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(255, 255, 255, .1);
}
i.flv_icon_color {
	color: #afbcda;
}
ul.flv_line_height_32 {
	line-height: 32px;
}
p.flv_align_right, div.flv_align_right {
	text-align: right;
}
.flv_float_right, div.flv_float_right {
	float: right;
}