@font-face {
    font-family: 'Sailec Regular';

    src: url('../fonts/sailec/Sailec-Regular.otf');
    /* IE9 Compat Modes */
}

@font-face {
    font-family: 'Sailec Medium';

    src: url('../fonts/sailec/Sailec-Medium.otf');
    /* IE9 Compat Modes */
}


@font-face {
    font-family: 'Sailec Bold';

    src: url('../fonts/sailec/Sailec-Bold.otf');
    /* IE9 Compat Modes */
}

@font-face {
    font-family: 'Sailec Medium';

    src: url('../fonts/sailecmedium/sailecmedium.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/sailecmedium/sailecmedium.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/sailecmedium/sailecmedium.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/sailecmedium/sailecmedium.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('../fonts/sailecmedium/sailecmedium.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/sailecmedium/sailecmedium.svg#SailecMedium') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'Sailec Thin';

    src: url('../fonts/sailecthin/sailecthin.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/sailecthin/sailecthin.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/sailecthin/sailecthin.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/sailecthin/sailecthin.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('../fonts/sailecthin/sailecthin.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/sailecthin/sailecthin.svg# ') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'Sailec Light';

    src: url('../fonts/saileclight/saileclight.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/saileclight/saileclight.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/saileclight/saileclight.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/saileclight/saileclight.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('../fonts/saileclight/saileclight.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/saileclight/saileclight.svg# ') format('svg');
    /* Legacy iOS */
}

label.required::after {
    content: '*';
    color: #F00;
}

.font-thin,
.font-thin * {
    font-family: 'Sailec Thin' !important;
}

.font-light,
.font-light * {
    font-family: 'Sailec Light' !important;
}

.font-medium,
.font-medium * {
    font-family: 'Sailec Medium' !important;
}

.font-regular,
.font-regular * {
    font-family: 'Sailec Regular' !important;
}

.font-bold,
.font-bold * {
    font-family: 'Sailec Bold';
}

.font-size-smallest {
    font-size: 10px !important;
}
.font-size-smaller {
    font-size: 12px !important;
}
.font-size-small {
    font-size: 14px !important;
}
.font-size-regular {
    font-size: 16px !important;
}
.font-size-medium,
.font-size-medium li,
.font-size-medium * {
    font-size: 18px !important;
}

.font-size-big {
    font-size: 22px !important;
}
.font-size-bigger,
.font-size-bigger i {
    font-size: 24px !important;
}
.font-size-biggest {
    font-size: 28px !important;
}

.font-size-bannertitle {
    font-size: 72px !important;
}
.font-size-heading1 {
    font-size: 38px !important;
}
.font-size-heading2 {
    font-size: 36px !important;
}
.font-size-heading3 {
    font-size: 32px !important;
}
.font-size-heading4 {
    font-size: 28px !important;
}
.font-size-heading5 {
    font-size: 26px !important;
}
.font-size-heading6 {
    font-size: 24px !important;
}

html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Sailec Regular';
    font-size: 12px;
}

a,
a:hover {
    text-decoration: none;
}

.container {
    max-width: 1200px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.section-title,
.section-subtitle {
    font-family: 'Sailec Medium';
}

.break {
    height: 65px;

    flex-basis: 100%;
}



.dropdown-toggle::after {
    color: #b9dc00;
}



.dropdown-menu {
    line-height: 40px;

    position: absolute;
    top: 75px;
    left: 0;

    min-width: 100%;
    height: 45px;

    text-align: center;

    border-radius: 0;
    /*margin-left: auto;
    margin-right: auto;*/
}

.dropdown-content {
    position: absolute;
    top: 0;

    width: 100%;
    height: 45px;

    border: none;
}

.dropdown-menu a.dropdown-item {
    width: auto;
    /*display: inline;*/
}

.dropdown-menu a.dropdown-item:hover {
    font-family: 'Sailec Bold';

    background-color: transparent;
}

.section-title {
    font-size: 30px;

    margin-bottom: 39px;
}

.section-subtitle {
    font-size: 14px;
}

.title-lg {
    font-size: 38px;
}

.title-sm {
    font-size: 24px;
}

.btn-navy,
.btn-navy:hover {
    color: #b9dc00;
}

.btn-navy {
    background-color: #181d62;
}

.btn-navy:hover {
    background-color: #101442;
}

.btn-yellow,
.btn-yellow:hover {
    color: #181d62;
}

.btn-yellow {
    background-color: #f7af00;
}

.btn-yellow:hover {
    background-color: #cc9200;
}

.btn-readmore {
    font-size: 14px;
    font-weight: 600;

    margin-top: 40px;
    margin-bottom: 30px;
    padding: 15px 60px;

    border: 0;
    border-radius: 0;
}

.spacer-40 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.text-navy {
    color: #181d62 !important;
}

.bg-yellow {
    color: #181d62;
    background-color: #f7af00;
}

.bg-navy {
    color: #fff;
    background-color: #181d62;
}

.bg-green {
    color: #181d62;
    background-color: #b9dc00;
}

.bg-image {
    color: #fff;
}

#homepage-slider .carousel-inner {
    height: 500px;

    background-color: #000;
}

#homepage-slider .carousel-item {
    height: 500px;

    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#homepage-slider .carousel-item h5 {
    font-size: 22px;

    margin-bottom: 20px;
}

#homepage-slider .carousel-item p {
    font-family: 'Sailec Regular';
    font-size: 14px;

    min-height: 14px;
}

.carousel-caption a,
.carousel-caption a:hover {
    text-decoration: none;

    color: #fff;
}

.content-section {
    min-height: 500px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.what-we-do ul {
    padding-left: 0;
}

.what-we-do ul li {
    margin-bottom: 15px;
}

section#article-slider-section {
    background-image: url('https://fogco.com/wp-content/uploads/2020/02/fogco-page-title-mining-background-1536x614.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.img-figure {
    width: 100%;
    height: 300px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#headline-date {
    font-size: 10px;
}

#headline-article {
    font-size: 14px;
}

#headline-article #headline-title {
    font-size: 28px;
}

#headline-article #headline-content {
    font-size: 16px;
}

/*.article-wrapper
{
    padding: 50px;
}*/
.article-list .article-date {
    font-size: 10px;

    color: #b9dc00;
}

.article-list .article-title {
    font-size: 20px;

    color: #f7af00;
}

.article-list .article-content {
    font-size: 12px;

    color: #fff;
}

#one-map-section {
    background-image: url('https://fogco.com/wp-content/uploads/2020/02/fogco-page-title-mining-background-1536x614.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.icons-grid {
    display: flex;

    flex-wrap: wrap;
    justify-content: center;
}

.icon-wrapper {
    line-height: 120px;

    position: relative;

    margin-right: 30px;
    margin-left: 30px;

    text-align: center;
    vertical-align: middle;
}

.icon-wrapper a,
.icon-wrapper a:hover {
    text-decoration: none;

    color: #181d62;
}

.icon-wrapper .icon-image {
    max-width: 120px;
    max-height: 120px;
    ;
}

.icon-wrapper .icon-image.icon-div {
    width: 120px;
    height: 120px;
    margin-right: auto;
    margin-left: auto;

    border-radius: 50%;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.research-item,
.member-item {
    padding: 0;

    border: 0;
    border-radius: 50%;
    background-color: transparent;
}

.member-item {
    margin-right: auto;
    margin-left: auto;

    border-radius: 0;
}

.member-topic {
    line-height: 120px;

    margin-right: 30px;
    margin-left: 30px;

    vertical-align: middle;
}


#counter-section {
    min-height: 200px;
}

.counter-digit {
    font-size: 64px;

    margin-bottom: 0;

    color: #b9dc00;
}

.counter-title {
    font-size: 24px;

    color: #f7af00;
}

.counter-description {
    margin-bottom: 0;
}

#research-section .research-topic {
    display: inline-block;

    margin-right: 60px;
    margin-left: 60px;
}

#research-section .research-title {
    font-family: 'Sailec Regular';
    font-size: 18px;

    margin-top: 24px;
}

#footer {
    min-height: 200px;
}

.footer-section {
    display: inline-block;

    margin-left: 40px;
}

footer ul {
    padding-left: 0;

    list-style: none;
}

.footer-nav {
    margin-bottom: 15px;
}

.footer-nav a,
.footer-nav a:link,
.footer-nav a:hover,
.footer-nav a:visited {
    font-family: 'Sailec Bold';
    font-size: 12px;

    text-decoration: none;

    color: inherit;
}

.footer-nav a:hover {
    color: #fff;
}

.company-detail,
.connect-link {
    margin-top: 30px;
    margin-bottom: 30px;
}

.connect-link li {
    display: inline-block;
}

.connect-link .social-img {
    max-height: 23px;
    margin-right: 15px;
}

.connect-link .supporters {
    max-height: 80px;
    margin-right: 20px;
}

.footer-copy {
    margin-top: 40px;
}

.middle-footer {
    display: inline-block;
}

/*Default Template*/
#page-hero {
    min-height: 250px;
    max-height: 250px;
}


#page-hero .hero-container {
    width: 100%;
    height: 250px;

    text-align: center;
    vertical-align: middle;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.page-title {
    font-family: 'Sailec Medium';
    font-size: 48px;
    line-height: 250px;

    margin-right: auto;
    margin-left: auto;

    color: #fff;
}

#page-subtitle {
    min-height: 206px;
    padding-top: 65px;
    padding-bottom: 65px;
}

.grid-wrapper {
    display: flex;

    width: 100%;

    flex-wrap: wrap;
    justify-content: center;
}

.img-with-caption-wrapper {
    width: 242px;
    min-height: 342px;
    max-height: 342px;
    margin: 15px;
}

.img-with-caption-wrapper .img-wrapper {
    position: relative;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    width: 100%;
    height: 242px;
}

.img-with-caption-wrapper .img-wrapper .img-title {
    font-family: 'Sailec Medium';
    font-size: 18px;

    position: absolute;
    top: 50%;
    left: 50%;

    width: 100%;

    transform: translate(-50%, -50%);
    text-align: center;

    color: #fff;
}

.img-with-caption-wrapper .caption-wrapper {
    min-height: 100px;
    max-height: 100px;
    padding: 20px 25px;

    text-align: center;
    vertical-align: middle;
}

.img-with-caption-wrapper .caption-wrapper p {
    line-height: 100px;

    height: 100px;
}

/*About Page*/

.about-section .section-title {
    font-family: 'Sailec Bold';
    font-size: 24px;
}

.about-section .img-hero,
img.img-hero {
    max-width: 514px;
    min-width: 100%;
    margin-bottom: 40px;
}

.font-regular {
    font-family: 'Sailec Regular' !important;
}

.font-bold {
    font-family: 'Sailec Bold' !important;
}

.font-24 {
    font-size: 24px !important;
}

.font-color-navy {
    color: #181d62;
}

.font-color-green {
    color: #b9dc00;
}

.about-member .grid-wrapper .grid-member-wrapper {
    width: 240px;
    color: #181d62;
    margin: 18px;
}

.about-member .grid-wrapper .grid-member-wrapper a,
.about-member .grid-wrapper .grid-member-wrapper a:hover {
    color: #181d62;
}

.close {
    position: absolute;
    right: -120px;
    top: -120px;
}

.about-member .grid-wrapper .grid-member-wrapper .img-wrapper {
    width: 100%;
    height: 240px;
    margin-bottom: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.about-member .grid-wrapper .grid-member-wrapper .img-wrapper .overlay {
    opacity: 0;
    transition: .5s;
    width: 100%;
    height: 100%;
    background-color: rgba(247, 175, 0, 0.6);
}

.about-member .grid-wrapper .grid-member-wrapper:hover .img-wrapper .overlay {
    opacity: 1;
}


.about-member .grid-wrapper .grid-member-wrapper .caption-wrapper {
    text-align: left;
}

.about-member .grid-wrapper .grid-member-wrapper .caption-wrapper h3.member-name {
    font-family: 'Sailec Regular';
    font-size: 16px;
    margin-bottom: 10px
}

.about-member .grid-wrapper .grid-member-wrapper .caption-wrapper p.subtitle {
    font-family: 'Sailec Bold';
    font-size: 12px;
}

.about-expert .grid-wrapper {
    display: block;
    position: relative;
}

.about-expert .grid-wrapper .grid-member-wrapper {
    width: 240px;
    color: #181d62;
    margin: 18px;
    display: inline-block;
}

.about-expert .grid-wrapper .grid-member-wrapper .img-wrapper {
    width: 100%;
    height: 240px;
    margin-bottom: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.about-expert .grid-wrapper .grid-member-wrapper .caption-wrapper {
    text-align: left;
}

.about-expert .grid-wrapper .grid-member-wrapper .caption-wrapper h3.member-name {
    font-family: 'Sailec Regular';
    font-size: 16px;
    margin-bottom: 10px
}

.about-expert .grid-wrapper .grid-member-wrapper .caption-wrapper p.subtitle {
    font-family: 'Sailec Bold';
    font-size: 12px;
}



/* Article Page */
.img-featured {
    width: 100%;
    height: 462px;
    margin-bottom: 54px;

    background-color: #f7af00;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.grid-wrapper .grid-article-wrapper {
    width: 336px;
    height: 428px;
    margin: 16px 13px;

    text-align: center;

    color: #181d62;
}

.grid-article-wrapper .img-wrapper {
    width: 100%;
    height: 240px;

    background-color: #c4c4c4;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.grid-article-wrapper .caption-wrapper {
    width: 100%;
    height: 150px;
    padding: 20px;

    background-color: #b9dc00;
}

.grid-article-wrapper .caption-wrapper .article-title {
    font-family: 'Sailec Bold';
    font-size: 18px;
}

.grid-article-wrapper .caption-wrapper .article-description {
    font-family: 'Sailec Regular';
    font-size: 12px;
}

.grid-article-wrapper .readmore-wrapper {
    padding: 10px 20px;

    background-color: #181d62;
}

.grid-article-wrapper .readmore-wrapper .readmore,
.grid-article-wrapper .readmore-wrapper .readmore:hover {
    display: flex;

    width: 100%;

    text-decoration: none;

    color: #b9dc00;

    justify-content: space-between;
    align-items: center;
}

.grid-article-wrapper .readmore-wrapper .readmore span {
    font-family: 'Sailec Medium';
    font-size: 14px;
}

.grid-article-wrapper .readmore-wrapper i {
    color: #b9dc00;
}

/*News Detail*/
.news-detail-section {
    color: #181d62;
}

.news-detail#page-hero {
    min-height: 250px;
    max-height: 500px;
}

.news-detail#page-hero .hero-container {
    width: 100%;
    height: 500px;

    text-align: center;
    vertical-align: middle;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.news-detail-section .page-title {
    font-family: 'Sailec Bold';
    font-size: 30px;
    line-height: 40px;

    margin-bottom: 40px;

    color: #181d62;
}

/*Maps*/
#maps-slider-nav .img-grid {
    width: 247px;
    height: 235px;
    margin: 10px;
}

#maps-slider-nav .img-grid .img-wrapper {
    width: 100%;
    height: 185px;
    margin-bottom: 8px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#maps-slider-nav .img-grid .caption-wrapper {
    line-height: 43px;

    width: 100%;
    height: 43px;

    font-family: 'Sailec Medium';
    font-size: 14px;
    vertical-align: middle;
}

#map-slider-focus .img-focus-item {
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
}

#map-slider-focus .img-focus-item .img-wrapper {
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#map-slider-focus .img-focus-item .caption-wrapper {
    margin-top: 15px;
    margin-bottom: 20px;
}

#our-values,
#our-values h3,
#our-values p {
    color: #b9dc00;
}

.modal-about {
    padding: 0;
    top: 50%;
    left: 50%;
}

.modal-full {
    min-width: 60%;
}

@media (max-width: 767px) {
    .modal-full {
        min-width: 90%;
    }
}

#accordion_list .card-header .btn-link {
    font-family: 'Sailec Bold';
}

#accordion_list .card-header.bg-navy .btn-link,
#accordion_list .card-header.bg-navy .btn-link:hover {
    text-decoration: none;
    color: #b9dc00;
}

#accordion_list .card-header.bg-yellow .btn-link,
#accordion_list .card-header.bg-yellow .btn-link:hover {
    text-decoration: none;
    color: #181d62;
}

#accordion_list .card-body {
    margin-top: 15px;
}

.btn-transparent,
.btn-transparent:hover {
    background-color: transparent;
    border: none;
    border-radius: none;
}

ul.list-none {
    list-style: none;
}

.no-border {
    border: none;
}

.no-radius {
    border-radius: 0 !important;
}

.btn-w-165 {
    min-width: 165px;
    width: 165px;
}

.btn-hover-yellow:hover {
    background-color: #f7af00;
    color: #181d62;
}

.table td,
.table th {
    vertical-align: middle
}

/*
 * Table styles
 */
table.dataTable {
    width: 100%;
    margin: 0 auto;
    clear: both;
    border-collapse: separate;
    border-spacing: 0;
    /*
   * Header and footer styles
   */
    /*
   * Body styles
   */
}

table.dataTable thead th,
table.dataTable tfoot th {
    font-weight: bold;
}

table.dataTable thead th,
table.dataTable thead td {
    padding: 10px 18px;
    border-bottom: 1px solid #181d62;
}

table.dataTable thead th:active,
table.dataTable thead td:active {
    outline: none;
}

table.dataTable tfoot th,
table.dataTable tfoot td {
    padding: 10px 18px 6px 18px;
    border-top: 1px solid #181d62;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
    background-repeat: no-repeat;
    background-position: center right;
}

/*table.dataTable thead .sorting {
    background-image: url("../images/sort_both.png"); }
  table.dataTable thead .sorting_asc {
    background-image: url("../images/sort_asc.png"); }
  table.dataTable thead .sorting_desc {
    background-image: url("../images/sort_desc.png"); }
  table.dataTable thead .sorting_asc_disabled {
    background-image: url("../images/sort_asc_disabled.png"); }
  table.dataTable thead .sorting_desc_disabled {
    background-image: url("../images/sort_desc_disabled.png"); }*/
table.dataTable tbody tr {
    background-color: white;
}

table.dataTable tbody tr.selected {
    background-color: #b0bed9;
}

table.dataTable tbody th,
table.dataTable tbody td {
    padding: 8px 10px;
}

table.dataTable.row-border tbody th,
table.dataTable.row-border tbody td,
table.dataTable.display tbody th,
table.dataTable.display tbody td {
    border-top: 1px solid #181d62;
}

table.dataTable.row-border tbody tr:first-child th,
table.dataTable.row-border tbody tr:first-child td,
table.dataTable.display tbody tr:first-child th,
table.dataTable.display tbody tr:first-child td {
    border-top: none;
}

table.dataTable.cell-border tbody th,
table.dataTable.cell-border tbody td {
    border-top: 1px solid #181d62;
    border-right: 1px solid #181d62;
}

table.dataTable.cell-border tbody tr th:first-child,
table.dataTable.cell-border tbody tr td:first-child {
    border-left: 1px solid #181d62;
}

table.dataTable.cell-border tbody tr:first-child th,
table.dataTable.cell-border tbody tr:first-child td {
    border-top: none;
}

table.dataTable.stripe tbody tr.odd,
table.dataTable.display tbody tr.odd {
    background-color: #f9f9f9;
}

table.dataTable.stripe tbody tr.odd.selected,
table.dataTable.display tbody tr.odd.selected {
    background-color: #abb9d3;
}

table.dataTable.hover tbody tr:hover,
table.dataTable.display tbody tr:hover {
    background-color: whitesmoke;
}

table.dataTable.hover tbody tr:hover.selected,
table.dataTable.display tbody tr:hover.selected {
    background-color: #a9b7d1;
}

table.dataTable.order-column tbody tr>.sorting_1,
table.dataTable.order-column tbody tr>.sorting_2,
table.dataTable.order-column tbody tr>.sorting_3,
table.dataTable.display tbody tr>.sorting_1,
table.dataTable.display tbody tr>.sorting_2,
table.dataTable.display tbody tr>.sorting_3 {
    background-color: #f9f9f9;
}

table.dataTable.order-column tbody tr.selected>.sorting_1,
table.dataTable.order-column tbody tr.selected>.sorting_2,
table.dataTable.order-column tbody tr.selected>.sorting_3,
table.dataTable.display tbody tr.selected>.sorting_1,
table.dataTable.display tbody tr.selected>.sorting_2,
table.dataTable.display tbody tr.selected>.sorting_3 {
    background-color: #acbad4;
}

table.dataTable.display tbody tr.odd>.sorting_1,
table.dataTable.order-column.stripe tbody tr.odd>.sorting_1 {
    background-color: #f1f1f1;
}

table.dataTable.display tbody tr.odd>.sorting_2,
table.dataTable.order-column.stripe tbody tr.odd>.sorting_2 {
    background-color: #f3f3f3;
}

table.dataTable.display tbody tr.odd>.sorting_3,
table.dataTable.order-column.stripe tbody tr.odd>.sorting_3 {
    background-color: whitesmoke;
}

table.dataTable.display tbody tr.odd.selected>.sorting_1,
table.dataTable.order-column.stripe tbody tr.odd.selected>.sorting_1 {
    background-color: #a6b3cd;
}

table.dataTable.display tbody tr.odd.selected>.sorting_2,
table.dataTable.order-column.stripe tbody tr.odd.selected>.sorting_2 {
    background-color: #a7b5ce;
}

table.dataTable.display tbody tr.odd.selected>.sorting_3,
table.dataTable.order-column.stripe tbody tr.odd.selected>.sorting_3 {
    background-color: #a9b6d0;
}

table.dataTable.display tbody tr.even>.sorting_1,
table.dataTable.order-column.stripe tbody tr.even>.sorting_1 {
    background-color: #f9f9f9;
}

table.dataTable.display tbody tr.even>.sorting_2,
table.dataTable.order-column.stripe tbody tr.even>.sorting_2 {
    background-color: #fbfbfb;
}

table.dataTable.display tbody tr.even>.sorting_3,
table.dataTable.order-column.stripe tbody tr.even>.sorting_3 {
    background-color: #fdfdfd;
}

table.dataTable.display tbody tr.even.selected>.sorting_1,
table.dataTable.order-column.stripe tbody tr.even.selected>.sorting_1 {
    background-color: #acbad4;
}

table.dataTable.display tbody tr.even.selected>.sorting_2,
table.dataTable.order-column.stripe tbody tr.even.selected>.sorting_2 {
    background-color: #adbbd6;
}

table.dataTable.display tbody tr.even.selected>.sorting_3,
table.dataTable.order-column.stripe tbody tr.even.selected>.sorting_3 {
    background-color: #afbdd8;
}

table.dataTable.display tbody tr:hover>.sorting_1,
table.dataTable.order-column.hover tbody tr:hover>.sorting_1 {
    background-color: #eaeaea;
}

table.dataTable.display tbody tr:hover>.sorting_2,
table.dataTable.order-column.hover tbody tr:hover>.sorting_2 {
    background-color: #ebebeb;
}

table.dataTable.display tbody tr:hover>.sorting_3,
table.dataTable.order-column.hover tbody tr:hover>.sorting_3 {
    background-color: #eeeeee;
}

table.dataTable.display tbody tr:hover.selected>.sorting_1,
table.dataTable.order-column.hover tbody tr:hover.selected>.sorting_1 {
    background-color: #a1aec7;
}

table.dataTable.display tbody tr:hover.selected>.sorting_2,
table.dataTable.order-column.hover tbody tr:hover.selected>.sorting_2 {
    background-color: #a2afc8;
}

table.dataTable.display tbody tr:hover.selected>.sorting_3,
table.dataTable.order-column.hover tbody tr:hover.selected>.sorting_3 {
    background-color: #a4b2cb;
}

table.dataTable.no-footer {
    border-bottom: 1px solid #181d62;
}

table.dataTable.nowrap th,
table.dataTable.nowrap td {
    white-space: nowrap;
}

table.dataTable.compact thead th,
table.dataTable.compact thead td {
    padding: 4px 17px;
}

table.dataTable.compact tfoot th,
table.dataTable.compact tfoot td {
    padding: 4px;
}

table.dataTable.compact tbody th,
table.dataTable.compact tbody td {
    padding: 4px;
}

table.dataTable th.dt-left,
table.dataTable td.dt-left {
    text-align: left;
}

table.dataTable th.dt-center,
table.dataTable td.dt-center,
table.dataTable td.dataTables_empty {
    text-align: center;
}

table.dataTable th.dt-right,
table.dataTable td.dt-right {
    text-align: right;
}

table.dataTable th.dt-justify,
table.dataTable td.dt-justify {
    text-align: justify;
}

table.dataTable th.dt-nowrap,
table.dataTable td.dt-nowrap {
    white-space: nowrap;
}

table.dataTable thead th.dt-head-left,
table.dataTable thead td.dt-head-left,
table.dataTable tfoot th.dt-head-left,
table.dataTable tfoot td.dt-head-left {
    text-align: left;
}

table.dataTable thead th.dt-head-center,
table.dataTable thead td.dt-head-center,
table.dataTable tfoot th.dt-head-center,
table.dataTable tfoot td.dt-head-center {
    text-align: center;
}

table.dataTable thead th.dt-head-right,
table.dataTable thead td.dt-head-right,
table.dataTable tfoot th.dt-head-right,
table.dataTable tfoot td.dt-head-right {
    text-align: right;
}

table.dataTable thead th.dt-head-justify,
table.dataTable thead td.dt-head-justify,
table.dataTable tfoot th.dt-head-justify,
table.dataTable tfoot td.dt-head-justify {
    text-align: justify;
}

table.dataTable thead th.dt-head-nowrap,
table.dataTable thead td.dt-head-nowrap,
table.dataTable tfoot th.dt-head-nowrap,
table.dataTable tfoot td.dt-head-nowrap {
    white-space: nowrap;
}

table.dataTable tbody th.dt-body-left,
table.dataTable tbody td.dt-body-left {
    text-align: left;
}

table.dataTable tbody th.dt-body-center,
table.dataTable tbody td.dt-body-center {
    text-align: center;
}

table.dataTable tbody th.dt-body-right,
table.dataTable tbody td.dt-body-right {
    text-align: right;
}

table.dataTable tbody th.dt-body-justify,
table.dataTable tbody td.dt-body-justify {
    text-align: justify;
}

table.dataTable tbody th.dt-body-nowrap,
table.dataTable tbody td.dt-body-nowrap {
    white-space: nowrap;
}

table.dataTable,
table.dataTable th,
table.dataTable td {
    box-sizing: content-box;
}

/*
 * Control feature layout
 */
.dataTables_wrapper {
    position: relative;
    clear: both;
    *zoom: 1;
    zoom: 1;
}

.dataTables_wrapper .dataTables_length {
    float: left;
}

.dataTables_wrapper .dataTables_length select {
    border: 1px solid #aaa;
    border-radius: 3px;
    background-color: transparent;
    padding: 4px;
}

.dataTables_wrapper .dataTables_filter {
    float: right;
    text-align: right;
}

.dataTables_wrapper .dataTables_filter input {
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 5px;
    background-color: transparent;
    margin-left: 3px;
}

.dataTables_wrapper .dataTables_info {
    clear: both;
    float: left;
    padding-top: 0.755em;
}

.dataTables_wrapper .dataTables_paginate {
    float: right;
    text-align: right;
    padding-top: 0.25em;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    *cursor: hand;
    color: #181d62 !important;
    border: 1px solid transparent;
    border-radius: 2px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #b9dc00 !important;
    border: 1px solid black;
    background-color: #181d62;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #181d62), color-stop(100%, #181d62));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #181d62 0%, #181d62 100%);
    /* Chrome10+,Safari5.1+ */
    background: -moz-linear-gradient(top, #181d62 0%, #181d62 100%);
    /* FF3.6+ */
    background: -ms-linear-gradient(top, #181d62 0%, #181d62 100%);
    /* IE10+ */
    background: -o-linear-gradient(top, #181d62 0%, #181d62 100%);
    /* Opera 11.10+ */
    background: linear-gradient(to bottom, #181d62 0%, #181d62 100%);
    /* W3C */
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    cursor: default;
    color: #666 !important;
    border: 1px solid transparent;
    background: transparent;
    box-shadow: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: white !important;
    border: 1px solid #f7af00;
    background-color: #ffdc87;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffdc87), color-stop(100%, #f7af00));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffdc87 0%, #f7af00 100%);
    /* Chrome10+,Safari5.1+ */
    background: -moz-linear-gradient(top, #ffdc87 0%, #f7af00 100%);
    /* FF3.6+ */
    background: -ms-linear-gradient(top, #ffdc87 0%, #f7af00 100%);
    /* IE10+ */
    background: -o-linear-gradient(top, #ffdc87 0%, #f7af00 100%);
    /* Opera 11.10+ */
    background: linear-gradient(to bottom, #ffdc87 0%, #f7af00 100%);
    /* W3C */
}

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
    outline: none;
    background-color: #ffc12b;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffc12b), color-stop(100%, #eda800));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffc12b 0%, #eda800 100%);
    /* Chrome10+,Safari5.1+ */
    background: -moz-linear-gradient(top, #ffc12b 0%, #eda800 100%);
    /* FF3.6+ */
    background: -ms-linear-gradient(top, #ffc12b 0%, #eda800 100%);
    /* IE10+ */
    background: -o-linear-gradient(top, #ffc12b 0%, #eda800 100%);
    /* Opera 11.10+ */
    background: linear-gradient(to bottom, #ffc12b 0%, #eda800 100%);
    /* W3C */
    box-shadow: inset 0 0 3px #111;
}

.dataTables_wrapper .dataTables_paginate .ellipsis {
    padding: 0 1em;
}

.dataTables_wrapper .dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 40px;
    margin-left: -50%;
    margin-top: -25px;
    padding-top: 20px;
    text-align: center;
    font-size: 1.2em;
    background-color: white;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(25%, rgba(255, 255, 255, 0.9)), color-stop(75%, rgba(255, 255, 255, 0.9)), color-stop(100%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
    color: #181d62;
}

.dataTables_wrapper .dataTables_scroll {
    clear: both;
}

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody {
    *margin-top: -1px;
    -webkit-overflow-scrolling: touch;
}

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>thead>tr>th,
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>thead>tr>td,
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>tbody>tr>th,
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>tbody>tr>td {
    vertical-align: middle;
}

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>thead>tr>th>div.dataTables_sizing,
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>thead>tr>td>div.dataTables_sizing,
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>tbody>tr>th>div.dataTables_sizing,
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>tbody>tr>td>div.dataTables_sizing {
    height: 0;
    overflow: hidden;
    margin: 0 !important;
    padding: 0 !important;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-top: 1px solid #181d62;
    border-bottom: 1px solid #181d62;
}

.dataTables_wrapper.no-footer div.dataTables_scrollHead table.dataTable,
.dataTables_wrapper.no-footer div.dataTables_scrollBody>table {
    border-bottom: none;
}

.dataTables_wrapper:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}

@media screen and (max-width: 767px) {

    .dataTables_wrapper .dataTables_info,
    .dataTables_wrapper .dataTables_paginate {
        float: none;
        text-align: center;
    }

    .dataTables_wrapper .dataTables_paginate {
        margin-top: 0.5em;
    }
}

@media screen and (max-width: 640px) {

    .dataTables_wrapper .dataTables_length,
    .dataTables_wrapper .dataTables_filter {
        float: none;
        text-align: center;
    }

    .dataTables_wrapper .dataTables_filter {
        margin-top: 0.5em;
    }
}

.img-profile {
    background-color: transparent;
    width: 100%;
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.my-80 {
    margin-top: 80px;
    margin-bottom: 80px;
}

.py-80 {
    padding-top: 80px !important;
    padding-bottom: 80px !important;
}

.custom-input {
    padding-bottom: 15px;
    background: transparent;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #181D62;
    box-shadow: none;
    outline: 0;
    width: 100%;
}
.custom-input:focus,
.custom-input:-internal-autofill-selected {
    background: transparent;

}


.text-big {
    font-size: 28px;
}

.text-medium {
    font-size: 16px;
}
