#page-hero {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 80px;
}



#page-hero.banner-normal,
#page-hero.banner-normal .banner-content {
    min-height: 400px;
}



.banner-content {
    text-align: center;
    flex-direction: column;
}
@media (max-width: 767px) {
    .countdown {
        display: block !important;
        justify-content: center;
    }

    .countdown > .simply-section > div {

        text-align: center;
        margin: 0 40px;
    }

    .banner-title {
        font-family: 'Sailec Bold';
        font-size: 36px !important;
        color: #fff;
    }
    .banner-subtitle #event-date {
        font-family: 'Sailec Medium';
        font-size: 16px !important;
        color: #fff;
    }

    .countdown > .simply-section .simply-amount{
        font-size: 36px !important;
        font-family: 'Sailec Bold';
        color: #B9DC00;
    }
    .countdown > .simply-section .simply-word {
        font-size: 12px !important;
        font-family: 'Sailec Regular';
        color: #F7AF00;
    }
    #page-hero.banner-fullheight,
    #page-hero.banner-fullheight .banner-content {
        min-height: 100vh;
        /* min-height: calc(100vh + 100px); */
    }
}
@media (min-width: 768px) {
    .banner-title {
        font-family: 'Sailec Bold';
        font-size: 42px;
        color: #fff;
    }
    .banner-subtitle #event-date {
        font-family: 'Sailec Medium';
        font-size: 24px;
        color: #fff;
    }
    .countdown {
        display: flex;
        justify-content: center;
    }

    .countdown > .simply-section > div {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0 40px;
    }

    .countdown > .simply-section .simply-amount{
        font-size: 84px;
        font-family: 'Sailec Bold';
        color: #B9DC00;
    }
    .countdown > .simply-section .simply-word {
        font-size: 24px;
        font-family: 'Sailec Regular';
        color: #F7AF00;
    }
    #page-hero.banner-fullheight,
    #page-hero.banner-fullheight .banner-content {
        min-height: calc(100vh - 265px);
        /* min-height: calc(100vh + 100px); */
    }
}
.banner-title {
    font-family: 'Sailec Bold';
    font-size: 42px;
    color: #fff;
}
.banner-subtitle #event-date {
    font-family: 'Sailec Medium';
    font-size: 24px;
    color: #fff;
}
.countdown {
    display: flex;
    justify-content: center;
}

.countdown > .simply-section > div {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 40px;
}

.countdown > .simply-section .simply-amount{
    font-size: 84px;
    font-family: 'Sailec Bold';
    color: #B9DC00;
}
.countdown > .simply-section .simply-word {
    font-size: 24px;
    font-family: 'Sailec Regular';
    color: #F7AF00;
}

h2.supporting-title {
    font-size: 14px;
}

.grid-card-wrapper {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width:767px){
    .grid-card-wrapper {
        justify-content: center !important;
    }
}
.grid-card-wrapper .card {
    min-height: 300px;
    background-color: #B9DC00;
    color: #181D62;
    transition: transform 0.3s ease-in-out;
    border: 0;
    margin-bottom: 20px;
}
.grid-card-wrapper .price-card {
    min-width: 275px;
    max-width: 275px;
}

.grid-card-wrapper .card .card-image {
    text-align: center;
}
.grid-card-wrapper.grid-3 .card .card-image img{
    height:250px;
    width: 100%;
}
.grid-card-wrapper.grid-4 .card .card-image img{
    height:180px;
    width: 100%;
}
.grid-card-wrapper.grid-5 .card .card-image img{
    height:220px;
    width: 100%;
}

.grid-card-wrapper.grid-3 .card {
    width: 375px;
    min-height: 415px;
    background-color: #B9DC00;
    color: #181D62;
    transition: transform 0.3s ease-in-out;
    border: 0;
    margin-bottom: 20px;
}
.grid-card-wrapper.grid-4 .card {
    width: 280px;
    min-height: 300px;
    background-color: #B9DC00;
    color: #181D62;
    transition: transform 0.3s ease-in-out;
    border: 0;
    margin-bottom: 20px;
}
.grid-card-wrapper.grid-5 .card {
    width: 220px;
    min-height: 300px;
    background-color: #B9DC00;
    color: #181D62;
    transition: transform 0.3s ease-in-out;
    border: 0;
    margin-bottom: 20px;
}


.card a,
.card a:link,
.card a:focus,
.card a:visited {
    color: #181D62;
}

.card:hover {
    transform: scale(1.1,1.1);
    -webkit-box-shadow: 0px 10px 40px -12px rgba(0,0,0,0.85);
-moz-box-shadow: 0px 10px 40px -12px rgba(0,0,0,0.85);
box-shadow: 0px 10px 40px -12px rgba(0,0,0,0.85);

    z-index: 1;

}

.card:hover a {
    color:#fff;
}

.card .card-caption {
    padding: 10px;
}

.card .card-caption .card-title {
    text-transform: uppercase;
    font-size: 14px;
}
.grid-card-wrapper.grid-5 .card .card-caption .card-title{
    text-transform: none;
    font-family: 'Sailec Medium';
    font-size: 14px;
}
.grid-card-wrapper.grid-5 .card .card-caption .card-description{
    text-transform: none;
    font-style: italic;
    font-size: 14px;
}

.btn-custom {
    min-height: 45px;
    font-size: 16px;
    padding: 10px 60px;
    border-radius: 0;
}

.btn-custom i {
    font-size: 18px;
}

.bg-navy {
    background-color: #181d62 !important;
}

.text-yellow,
a.text-yellow,
a.text-yellow:link,
a.text-yellow:focus,
a.text-yellow:visited {
    color: #F7AF00 !important;
}
.border-yellow {
    border-color: #F7AF00;
}

.text-green,
a.text-green,
a.text-green:link,
a.text-green:focus,
a.text-green:visited {
    color: #B9DC00 !important;
}
.border-green {
    border-color:#B9DC00;
}

.text-navy,
a.text-navy,
a.text-navy:link,
a.text-navy:focus,
a.text-navy:visited {
    color: #181d62 !important;
}
.border-navy {
    border-color: #181D62;
}

.section-title {
    font-style: 'Sailec Medium';
    font-size: 36px;
    margin-bottom: 35px;
}



.page-section {
    padding: 25px 0;
}

.accordion-tab {
    padding: 20px 55px;
    margin-bottom: 25px;
}

.accordion-tab .event-date .date {
    font-size: 28px;
}
.accordion-tab .event-date .month {
    font-size: 12px;
}
.accordion-tab .event-description {
    font-size: 28px;
    text-align: right;
}

.card-list.right {
    flex-direction: row;
}
.card-list.left {
    flex-direction: row-reverse;
}
.card-list .card-caption .card-title{
    font-size: 24px;
    color: #F7AF00;
}

.card-list .card-caption .card-description{
    font-family: 'Sailec Light';
}

.card-list .card-image.image-stack {
    position: relative;
}

.card-list .image-stack .image-stack-item.image-stack-item__top {
    position: absolute;
    top: 10px;
    left: -10px;
    z-index: 1;
    max-width: 310px;
}
.card-list .image-stack .image-stack-item.image-stack-item__bottom {
    width:310px;
    height: 398px
}
@media (max-width: 767px) {
    .card-list {
        flex-wrap: wrap;
    }
    .card-list .image-stack .image-stack-item.image-stack-item__top {
        top: 0;
        left: 0;
    }
}

#btn-register-sticky {
    position: fixed;
    top: 260px;
    right: 0px;
    border: 1px solid #181d62;
    padding: 15px 20px;
    font-size: 16px;
    font-family: 'Sailec Medium';
    border-radius: 0;
    z-index: 1;
}
#btn-date-sticky {
    z-index: 1;
    position: fixed;
    top: 200px;
    right: -140px;
    border: 1px solid #181d62;
    border-radius: 0;

}
#btn-date-sticky span {
    font-size: 16px;
    font-family: 'Sailec Medium';
}
#sticky-date-window {
    z-index: 2;
    height: 450px;
    position: fixed;
    top: 200px;
    right: -300px;
    width: 300px;
    padding: 30px;
    border: 1px solid #181d62
}
#sticky-date-window .pop-up-body ul li b,
#sticky-date-window .pop-up-body ul li div {
    font-size: 14px;
}
#sticky-date-window .pop-up-body ul li {
    margin-bottom: 10px;
}

#btn-date-sticky:hover {
    -webkit-animation: slide-left 0.5s forwards;
    /* -webkit-animation-delay: 0.1; */
    animation: slide-left 0.3s forwards;
    /* animation-delay: 0.3s; */
}

@-webkit-keyframes slide-left {
    100% { right: 0; }
}

@keyframes slide-left {
    100% { right: 0; }
}

.navbar-custom {
    position: fixed; width: 100%;z-index: 2; top: 0
}