.topbar {
    background-color: #B9DC00;
}
.topbar .topbar-link,
.topbar .topbar-link:link,
.topbar .topbar-link:focus,
.topbar .topbar-link:visited {
    color: #181D62;
}
nav.navbar {
    height: 80px;
    z-index: 999;
}

nav.navbar a:hover {
    font-family: 'Sailec Medium';
}
@media (min-width: 768px) {
    .navbar-nav {
        height: 80px;
        align-items: center;
        display: flex;
        flex: 1;
        justify-content:flex-end;
    }
    .navbar-nav .nav-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px 20px;
        height:100%
    }
}


/* change the background color */
.navbar-custom {
    background-color: #181D62;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #fff;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #fff;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:visited .nav-link {
    color: #fff;
}

.navbar-custom .nav-item.show>.nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #fff;
}

.navbar-custom .navbar-toggler {
    background-color: #B9DC00;
    border-color: none !important;
    border-radius: 0;
}
.navbar-custom .navbar-toggler-icon {
    background: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

@media (max-width: 767px) {
    ul.navbar-nav {
        background-color: #181D62;
        margin-top: 30px;
        height: 100%;
        z-index: 999;
    }
    .nav-item .nav-link {
        padding: 10px;
    }
    
}
@media (min-width: 768px) {
    ul.navbar-nav {
        background-color: #181D62;
        height: 80px;
    }
}

.mega-menu-item {
    position: static;
}

.nav-item .dropdown-toggle::after {
    color: #b9dc00;
}
.nav-item:hover {
    background-color: #B9DC00;
}
.nav-item:hover .dropdown-toggle::after {
    color: #181d62;
}

.dropdown-menu.megamenu {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    height: 45px;
    margin-top: 0;
    background-color: #B9DC00;
    padding: 0;
}

.dropdown-menu.megamenu a.megamenu-dropdown-item {
    margin: 0px 20px;
}

.dropdown-menu {
    height: 100%;
}
.dropdown-menu a {
    color: #181D62;
}

/* .dropdown-menu.megamenu .mega-menu-item:link,
.dropdown-menu.megamenu .mega-menu-item:active,
.dropdown-menu.megamenu .mega-menu-item:focus,
.dropdown-menu.megamenu .mega-menu-item:visited {

} */

.nav-mobile .dropdown-menu {
    border-radius: 0;
    background-color: #B9DC00;
}
.nav-mobile .dropdown-menu a.dropdown-item:link,
.nav-mobile .dropdown-menu a.dropdown-item:active,
.nav-mobile .dropdown-menu a.dropdown-item:focus,
.nav-mobile .dropdown-menu a.dropdown-item:visited,
.nav-desktop .dropdown-menu.megamenu a,
.nav-desktop .dropdown-menu.megamenu a:link,
.nav-desktop .dropdown-menu.megamenu a:active,
.nav-desktop .dropdown-menu.megamenu a:focus,
.nav-desktop .dropdown-menu.megamenu a:visited {
   color: #181D62;
   text-decoration: none;
}
.nav-desktop.mega-menu-item:hover .dropdown-menu {
    display: block;
}