@font-face
{
    font-family: 'Sailec Regular';

    src: url('../fonts/sailec/Sailec-Regular.otf');
    /* IE9 Compat Modes */
}

@font-face
{
    font-family: 'Sailec Medium';

    src: url('../fonts/sailec/Sailec-Medium.otf');
    /* IE9 Compat Modes */
}

@font-face
{
    font-family: 'Sailec Bold';

    src: url('../fonts/sailec/Sailec-Bold.otf');
    /* IE9 Compat Modes */
}

@font-face
{
    font-family: 'SailecMedium';

    src: url('../fonts/sailecmedium/sailecmedium.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/sailecmedium/sailecmedium.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/sailecmedium/sailecmedium.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/sailecmedium/sailecmedium.woff') format('woff'),
    /* Pretty Modern Browsers */
    url('../fonts/sailecmedium/sailecmedium.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/sailecmedium/sailecmedium.svg#SailecMedium') format('svg');
    /* Legacy iOS */
}

@font-face
{
    font-family: 'SailecThin';

    src: url('../fonts/sailecthin/sailecthin.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/sailecthin/sailecthin.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/sailecthin/sailecthin.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/sailecthin/sailecthin.woff') format('woff'),
    /* Pretty Modern Browsers */
    url('../fonts/sailecthin/sailecthin.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/sailecthin/sailecthin.svg#SailecThin') format('svg');
    /* Legacy iOS */
}

@font-face
{
    font-family: 'SailecLight';

    src: url('../fonts/saileclight/saileclight.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/saileclight/saileclight.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/saileclight/saileclight.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/saileclight/saileclight.woff') format('woff'),
    /* Pretty Modern Browsers */
    url('../fonts/saileclight/saileclight.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/saileclight/saileclight.svg#SailecLight') format('svg');
    /* Legacy iOS */
}

*
{
    font-family: 'Sailec Regular';
    font-size: 12px;
}

a,
a:hover
{
    text-decoration: none;
}
.container
{
    max-width: 1200px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.section-title,
.section-subtitle
{
    font-family: 'Sailec Medium';
}

.break
{
    height: 65px;

    flex-basis: 100%;
}

.navbar
{
    height: 80px !important;
}
.dropdown-toggle::after
{
    color: #b9dc00;
}

.navbar .nav-item
{
    margin-left: 40px;
}

.nav-item.dropdown
{
    position: inherit;
}
.nav-item.dropdown.show .dropdown-toggle::after
{
    color: #181d62;
}
.nav-item.dropdown.show
{
    background-color: #b9dc00;
}

.dropdown-menu
{
    line-height: 40px;

    position: absolute;
    top: 75px;
    left: 0;

    min-width: 100%;
    height: 45px;

    text-align: center;

    border-radius: 0;
    /*margin-left: auto;
    margin-right: auto;*/
}

.dropdown-content
{
    position: absolute;
    top: 0;

    width: 100%;
    height: 45px;

    border: none;
}

.dropdown-menu a.dropdown-item
{
    width: auto;
    /*display: inline;*/
}

.dropdown-menu a.dropdown-item:hover
{
    font-family: 'Sailec Bold';

    background-color: transparent;
}

.section-title
{
    font-size: 30px;

    margin-bottom: 39px;
}

.section-subtitle
{
    font-size: 14px;
}

.title-lg
{
    font-size: 38px;
}

.title-sm
{
    font-size: 24px;
}

.btn-navy,
.btn-navy:hover
{
    color: #b9dc00;
}

.btn-navy
{
    background-color: #181d62;
}

.btn-navy:hover
{
    background-color: #101442;
}

.btn-yellow,
.btn-yellow:hover
{
    color: #181d62;
}

.btn-yellow
{
    background-color: #f7af00;
}

.btn-yellow:hover
{
    background-color: #cc9200;
}

.btn-readmore
{
    font-size: 14px;
    font-weight: 600;

    margin-top: 40px;
    margin-bottom: 30px;
    padding: 15px 60px;

    border: 0;
    border-radius: 0;
}
.spacer-40
{
    margin-top: 20px;
    margin-bottom: 20px;
}
.text-navy
{
    color: #181d62;
}
.bg-yellow
{
    color: #181d62;
    background-color: #f7af00;
}

.bg-navy
{
    color: #fff;
    background-color: #181d62;
}
button.bg-navy:hover
{
    color: #fff;
    background-color: #101342;
}

.bg-green
{
    color: #181d62;
    background-color: #b9dc00;
}

.bg-image
{
    color: #fff;
}

#homepage-slider .carousel-inner
{
    height: 500px;

    background-color: #000;
}

#homepage-slider .carousel-item
{
    height: 500px;

    background: no-repeat center center scroll;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}
#homepage-slider .carousel-item h5
{
    font-size: 22px;

    margin-bottom: 20px;
}
#homepage-slider .carousel-item p
{
    font-family: 'Sailec Regular';
    font-size: 14px;

    min-height: 14px;
}
.carousel-caption a,
.carousel-caption a:hover
{
    text-decoration: none;

    color: #fff;
}

.content-section
{
    min-height: 500px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.what-we-do ul
{
    padding-left: 0;
}

.what-we-do ul li
{
    margin-bottom: 15px;
}

section#article-slider-section
{
    background-image: url('https://fogco.com/wp-content/uploads/2020/02/fogco-page-title-mining-background-1536x614.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.img-figure
{
    width: 100%;
    height: 300px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#headline-date
{
    font-size: 10px;
}

#headline-article
{
    font-size: 14px;
}

#headline-article #headline-title
{
    font-size: 28px;
}

#headline-article #headline-content
{
    font-size: 16px;
}

/*.article-wrapper
{
    padding: 50px;
}*/
.article-list .article-date
{
    font-size: 10px;

    color: #b9dc00;
}

.article-list .article-title
{
    font-size: 20px;

    color: #f7af00;
}

.article-list .article-content
{
    font-size: 12px;
}

#one-map-section
{
    background-image: url('https://fogco.com/wp-content/uploads/2020/02/fogco-page-title-mining-background-1536x614.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.icons-grid
{
    display: flex;

    flex-wrap: wrap;
    justify-content: center;
}

.icon-wrapper
{
    line-height: 120px;

    position: relative;

    margin-right: 30px;
    margin-left: 30px;

    text-align: center;
    vertical-align: middle;
}

.icon-wrapper .icon-image
{
    max-width: 120px;;
    max-height: 120px;
}

.research-item,
.member-item
{
    padding: 0;

    border: 0;
    border-radius: 50%;
    background-color: transparent;
}

.member-item
{
    margin-right: auto;
    margin-left: auto;

    border-radius: 0;
}
.member-topic
{
    line-height: 120px;

    margin-right: 30px;
    margin-left: 30px;

    vertical-align: middle;
}


#counter-section
{
    min-height: 200px;
}

.counter-digit
{
    font-size: 64px;

    margin-bottom: 0;

    color: #b9dc00;
}

.counter-title
{
    font-size: 24px;

    color: #f7af00;
}

.counter-description
{
    margin-bottom: 0;
}

#research-section .research-topic
{
    display: inline-block;

    margin-right: 60px;
    margin-left: 60px;
}

#research-section .research-title
{
    font-family: 'Sailec Regular';
    font-size: 18px;

    margin-top: 24px;
}

#footer
{
    min-height: 200px;
}

.footer-section
{
    display: inline-block;

    margin-left: 40px;
}

footer ul
{
    padding-left: 0;

    list-style: none;
}

.footer-nav
{
    margin-bottom: 15px;
}

.footer-nav a,
.footer-nav a:link,
.footer-nav a:hover,
.footer-nav a:visited
{
    font-family: 'Sailec Bold';
    font-size: 12px;

    text-decoration: none;

    color: inherit;
}

.footer-nav a:hover
{
    color: #fff;
}

.company-detail,
.connect-link
{
    margin-top: 30px;
    margin-bottom: 30px;
}

.connect-link li
{
    display: inline-block;
}

.connect-link .social-img
{
    max-height: 23px;
    margin-right: 15px;
}

.connect-link .supporters
{
    max-height: 80px;
    margin-right: 20px;
}

.footer-copy
{
    margin-top: 40px;
}

.middle-footer
{
    display: inline-block;
}

/*Default Template*/
#page-hero
{
    min-height: 250px;
    max-height: 250px;
}


#page-hero .hero-container
{
    width: 100%;
    height: 250px ;

    text-align: center;
    vertical-align: middle;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.page-title
{
    font-family: 'Sailec Medium';
    font-size: 48px;
    line-height: 250px;

    margin-right: auto;
    margin-left: auto;

    color: #fff;
}

#page-subtitle
{
    min-height: 206px;
    padding-top: 65px;
    padding-bottom: 65px;
}

.grid-wrapper
{
    display: flex;

    width: 100%;

    flex-wrap: wrap;
    justify-content: center;
}
.img-with-caption-wrapper
{
    width: 242px;
    min-height: 342px;
    max-height: 342px;
    margin: 15px;
}

.img-with-caption-wrapper .img-wrapper
{
    position: relative;

    width: 100%;
    height: 242px;
}

.img-with-caption-wrapper .img-wrapper .img-title
{
    font-family: 'Sailec Medium';
    font-size: 18px;

    position: absolute;
    top: 50%;
    left: 50%;

    width: 100%;

    transform: translate(-50%,-50%);
    text-align: center;

    color: #fff;
}

.img-with-caption-wrapper .caption-wrapper
{
    min-height: 100px;
    max-height: 100px;
    padding: 20px 25px;

    text-align: center;
    vertical-align: middle;
}

.img-with-caption-wrapper .caption-wrapper p
{
    line-height: 100px;

    height: 100px;
}

/*About Page*/

.about-section .section-title
{
    font-family: 'Sailec Bold';
    font-size: 24px;
}

.about-section .img-hero
{
    min-width: 100%;
    margin-bottom: 40px;
}

.font-regular
{
    font-family: 'Sailec Regular' !important;
}

.font-bold
{
    font-family: 'Sailec Bold' !important;
}

.font-24
{
    font-size: 24px !important;
}

.font-color-navy
{
    color: #181d62;
}


/* Article Page */
.img-featured
{
    width: 100%;
    height: 462px;
    margin-bottom: 54px;

    background-color: #f7af00;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.grid-wrapper .grid-article-wrapper
{
    width: 336px;
    height: 428px;
    margin: 16px 13px;

    text-align: center;

    color: #181d62;
}

.grid-article-wrapper .img-wrapper
{
    width: 100%;
    height: 240px;

    background-color: #c4c4c4;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.grid-article-wrapper .caption-wrapper
{
    width: 100%;
    height: 150px;
    padding: 20px;

    background-color: #b9dc00;
}

.grid-article-wrapper .caption-wrapper .article-title
{
    font-family: 'Sailec Bold';
    font-size: 18px;
}

.grid-article-wrapper .caption-wrapper .article-description
{
    font-family: 'Sailec Regular';
    font-size: 12px;
}

.grid-article-wrapper .readmore-wrapper
{
    padding: 10px 20px;

    background-color: #181d62;
}

.grid-article-wrapper .readmore-wrapper .readmore,
.grid-article-wrapper .readmore-wrapper .readmore:hover
{
    display: flex;

    width: 100%;

    text-decoration: none;

    color: #b9dc00;

    justify-content: space-between;
    align-items: center;
}

.grid-article-wrapper .readmore-wrapper .readmore span
{
    font-family: 'Sailec Medium';
    font-size: 14px;
}
.grid-article-wrapper .readmore-wrapper i
{
    color: #b9dc00;
}

/*News Detail*/
.news-detail-section
{
    color: #181d62;
}
.news-detail#page-hero
{
    min-height: 250px;
    max-height: 500px;
}
.news-detail#page-hero .hero-container
{
    width: 100%;
    height: 500px;

    text-align: center;
    vertical-align: middle;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.news-detail-section .page-title
{
    font-family: 'Sailec Bold';
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 40px;
    color: #181d62;
}

.no-border
{
    border: none;
}

.modal-backdrop
{
    background-color: rgba(185,220,0,1);
}
.modal-section-title
{
    margin-bottom: 30px;
}
.modal-section-content .content-item
{
    margin-bottom: 20px;
}
.modal-section-title .modal-title-company,
.modal-section-content .content-item h3,
.modal-section-content .content-item p
{
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Sailec Regular';
    font-size: 12px;
}
.modal-section-title .modal-title-company
{
    font-size: 24px;
    color: #b9dc00;
}
.modal-section-content .content-item h3
{
    color: #f7af00;
    margin-bottom: 10px;
}
.modal-section-content .content-item p
{
    color: #b9dc00;
}